.footer__logo-link {
  background-image: url("../../../images/header/logo768.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 94.67px;
  height: 32px;
  grid-area: logo;
}
@media (min-width: 768px) {
  .footer__logo-link {
    background-image: url("../../../images/header/logo1024.png");
    width: 150px;
    height: 54px;
  }
}
