.about__card-icon-pushpin {
  background-image: url(../../../images/Icons/pushpin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -13px;
  right: -8px;
  width: 30px;
  height: 40px;
}
