.feedback__form {
  display: grid;
  gap: 12px 0;
  grid-template-areas: 'name' 'surname' 'tel' 'email' 'messege' 'button'
}
@media (min-width: 768px) {
  .feedback__form {
    grid-template-areas:
      "name surname messege"
      "tel email messege"
      ". button .";
    grid-template-columns: minmax(210px, 351px) minmax(210px, 351px) minmax(210px, 351px);
    grid-template-rows: 44px 44px auto;
    justify-content: center;
    gap: 20px 29px;
  }
}
@media (min-width: 1024px) {
  .feedback__form {
    grid-template-rows: 60px 60px auto;
  }
}
