.lead__content {
  /* max-width: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .lead__content {
    align-items: flex-start;
    margin-left: 39px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__content {
    margin-right: 165px;
  }
}
