.lead__text-wrapper {
  max-width: 288px;
  margin: 30px 16px 0;
}

@media screen and (min-width: 768px) {
  .lead__text-wrapper {
    max-width: 370px;
    margin: 58px 0 39px;
  }
}


@media screen and (min-width: 768px) {
  .lead__text-wrapper {
    max-width: 370px;
    margin: 92px 0 50px;
  }
}
