.footer__social {
  display: flex;
  gap: 0 8px;
  grid-area: social;
  margin-top: -20px;
}
@media (min-width: 768px) {
  .footer__social {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .footer__social {
    margin-top: -54px;
  }
}

