.footer__title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(16 / 12);
  letter-spacing: 0.0588372px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 12px;
  }
}
