.about__text-wrapper {
    max-width: 288px;
    margin: 60px 16px 0;
    text-align: center;
}

@media screen and (min-width: 480px) {
  .about__text-wrapper {
    max-width: 690px;
  }
}

@media screen and (min-width: 768px) {
  .about__text-wrapper {
    max-width: 690px;
    margin: 120px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .about__text-wrapper {
    max-width: 907px;
    margin: 124px auto 0;
  }
}
