.header__burger {
  position: relative;
  width: 20px;
  height: 15px;
  align-self: center;
  margin-left: 18px;
}
.header__burger::before, .header__burger::after {
  content: '';
  background-color: #fff;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 5px;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
@media (min-width: 768px) {
  .header__burger {
    margin-left: 41px;
  }
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
