.projects__main-container {
  min-width: 288px;
  margin: 20px 16px 42px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .projects__main-container {
    min-width: 690px;
    min-height: 625px;
    margin: 42px 39px 62px;
  }
}

@media screen and (min-width: 1124px) {
  .projects__main-container {
    min-width: 1112px;
    margin: 42px auto 74px;
  }
}
